<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
		<!-- C:\Users\VENTAS CORPORATIVAS\source\repos\Bennytron 2000\Bennytron 2000\dbBennytron2000.mdb -->
        <add name="Bennytron_2000.Properties.Settings.ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\VENTAS CORPORATIVAS\source\repos\Bennytron 2000\Bennytron 2000\dbBennytron2000.mdb"
            providerName="System.Data.OleDb" />
		<!-- |DataDirectory|dbBennytron2000.mdb -->
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="archivo" value="C:\Users\VENTAS CORPORATIVAS\source\repos\Bennytron 2000\Bennytron 2000\dbBennytron2000.mdb" />
		<add key="ProviderAccess" value="Microsoft.Jet.OLEDB.4.0"/>
		<add key="MostrarStackTrace"  value="true" />
		<add key="ExtendenProperties" value="Excel 12.0 Xml;HDR=YES" />
	</appSettings>
</configuration>